@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color: #111827;
  background-color: #f4f5f7;
  line-height: 1.5;
  font-weight: 400;
  --nav-height: 64px;
}

html {
  overflow: hidden;
  height: 100%;
  
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f9fafb;
  overflow: auto;
  height: 100%;
}
#root {
  min-height: 100vh;
}

@keyframes sweet-float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(2deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.animate-float {
  animation: sweet-float 6s ease-in-out infinite;
}

.animate-float-slow {
  animation: sweet-float 12s ease-in-out infinite;
}

.sweet-grid-backdrop {
  filter: blur(0.2px);
}

